<div class="playerEditContainer">
    <div style="display: flex; flex-direction: column">
        <span class="oldName">Current Name: {{oldPlayerName}}</span>
        <mat-form-field>
            <input matInput [(ngModel)]="data.name">
        </mat-form-field>
    </div>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="save()">Save</button>
        <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
    </div>
    <div class="buttons" style="margin-top: 15px">
        <button mat-raised-button style="background-color: red;" (click)="deletePlayer()">Delete</button>
    </div>
</div>