<div class="courseContainer" *ngIf="course$ | async as courses">
    <span>Start a new game!</span>
    <div class="courses">
        <mat-card *ngFor="let course of courses" (click)="cardService.newCard = true;"
            [routerLink]="['/card', {id: course.id}]">
            <img [src]="course.image" alt="course image">
            <mat-card-title>{{course.name}}</mat-card-title>
        </mat-card>
    </div>
</div>
<div *ngIf="cardService.cards" class="cardsContainer">
    <span>Or Choose from an existing card!</span>
    <div class="cards">
        <div class="cardContainer" *ngFor="let card of cardService.cards; let i = index;">
            <mat-card class="card">
                <img [src]="card.thumbnailURL" alt="course image" (click)="onCardClick(i, card.courseID)">
                <mat-card-title (click)="onCardClick(i, card.courseID)">
                    {{card.dateLastModified['seconds'] * 1000 | date: "short"}}</mat-card-title>
                &nbsp;
                <button mat-raised-button color="warn" (click)="deleteCard(i)">
                    <div class="material-icons">
                        delete
                    </div>
                </button>
            </mat-card>
        </div>
    </div>
</div>